body{
    font-family: sans-serif;
    margin: 20px;
}

/*Para que no mobile quando eu apertar para para slider e animation da thumb nao mostre as propriedades quando eu soltar
é um bug que tem para mobile, como se eu estivesse apertando com botão direito em cima do slide para ver as propriedades
com isso vamos tirar isso*/
body.paused{
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    touch-action: manipulation;

}

/*Faz a imagem e video ficarem responsivel, então para fazer a imagem ficar responsivel sempre
utilizar o código abaixo*/
img, video{
display: block;
max-width: 100%;
}

h1{
    text-align: center;
    font-size: 1.5rem;
}


#slide-elements{
    display: grid;
    grid-area: 1/1;
}

/*  o simbolo * é para falar com cada elemento que for filho direto, pode ser qualquer 
um div imagem e etc*/
#slide-elements>*{
    /*coluna 1 linha 1*/
    grid-area: 1/1 ;
    opacity: 0;
    /*para sumir os elementos*/
    visibility: none;
}

/*Classe para mostrar o slide, lembrando que o codigo abaixo e logo o que está em cima, vao ser
gerenciados pelo typeScript, no casoa classe slide-elements>* e #slide-elements > .active */

#slide-elements > .active{
    opacity: 1;
    visibility: visible;
}


#slide{
    display: grid;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px auto;
    max-width: 800px;
    background: black;
}

#slide-controls{
    grid-area: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*Coloquei para que meu absolute que está nos meu thumb nao ficassem estorando a pagina ou seja saindo do meu slide
    o absolute está na classe que está com nome de slide-thumb*/
    position: relative;
}


/*Aqui estamos escondendo os botões, porque pelo jeito que fizemos se nao fizer isso
 eles vao ficar em cima dos slides, pois estrá ocupando tudo devido o grid que fizemos
 para alterar quando clicamos entao para ocultar e ficar a imageme  ainda ficar
 funcional estamos fazendo isso*/
#slide-controls button{
    opacity: 0;
    /*Por causa do IOS*/
    appearance: none;
    /*Quando vc da um toque e mostra na tela, mas apenas para mobile, fazendo isso
    tiramos para desktop*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


#slide-thumb{
display: flex;
position: absolute;
width: 100%;
pointer-events: none;
}

#slide-thumb > span{
    flex: 1;
    display: block;
    height: 4px;
    background: rgb(255, 255, 255,0.2);
    margin: 5px;
    border-radius: 4px;
    /*Esconder quando tiver do lado de fora ou seja nao passar por fora a cor do meu back ground so dentro da thumb mesmo que fiz*/
    overflow: hidden;
    /*Isolar o elemento para nao zuar principalmente no safari*/
    isolation: isolate;

}

/*Só para quando tiver ativo*/
#slide-thumb .thumb-item.active{
    display: block;
    /*herda do pai dele*/
    height: inherit;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    transform: translateX(-100%);
    /*running é que está ocorrendo e assim consigo pausar e continuar ela de acordo com meu slide*/
    animation: thumb forwards linear running ;
}

/*Só para quando pausar o slider para pausar a animação tbm da thumb, se nao nao funciona*/
#slide-thumb .thumb-item.paused{
  animation-play-state: paused;
}


@keyframes thumb{
    to{
        transform: initial;
    }
}